<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<title>Magic Lights</title>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='farbtastic.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" href="{{
  url_for('static', filename='farbtastic.css') }}" type="text/css" />
<link rel="stylesheet" href="{{
  url_for('static', filename='bootstrap.min.css') }}" type="text/css" />

<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>

{% block body %}{% endblock %}
